.navbar-inverse {
background-color: #522900;
border-color: #522900;
}
.navbar {
border-bottom: 2px solid #2090AC;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
background-color: #CBBFB2;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
color: #ffffff;
background-color: #CBBFB2;
}
.container {
width: 970px;
}

.navbar-inverse .navbar-nav > li > a {
color: #fff;
padding: 18px 15px;
font-family: 'Exo 2', sans-serif;
-webkit-transition: all 0.4s ease-in-out;
-moz-transition: all 0.4s ease-in-out;
-o-transition: all 0.4s ease-in-out;
}
.dropdown-menu {
background-color: #2090AC;
}

.dropdown-menu {
background-color: #CBBFB2;
border: none;
border-radius: 2px;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
-webkit-transition: all 0.4s ease-in-out;
-moz-transition: all 0.4s ease-in-out;
-o-transition: all 0.4s ease-in-out;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
background-color: #CBBFB2;
color: white;
}